<div class="show-page">
  <div class="show-banner">
    <div class="show-text">
      <h1 class="my-1">Search Superheroes</h1>
      <h5 class="mb-5">Find a <strong>superhero</strong> near you</h5>
      <!-- Search for superheroes -->
      <%= form_tag superheroes_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-form",
          placeholder: "Find a superhero"
        %>
        <%= submit_tag "Search", class: "my-4 btn-solid btn-clean-border" %>
      <% end %>
      <!-- Commented out "Back" button -->
      <%#= link_to 'Back', root_path, class: "btn-solid" %>
    </div>
  </div>

  <div class="container heroes-container mt-5 pb-5">
    <% @superheroes.each do |superhero| %>
      <div class="hero-card mb-2">

        <div class="card-trip" style="position: relative;">
          <%= link_to "", superhero_path(superhero), class: "card-clickable" %>
          <img src="<%= cl_image_path superhero.photo, crop: :fill %>" alt="">
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to superhero.name, superhero %></h2>
              <p id="text"><%= superhero.description %></p>
            </div>
            <h2 class="card-trip-pricing">$<%= link_to number_with_precision(superhero.price, :precision => 2, :delimiter => ',') %></h2>
            <%= cl_image_tag superhero.user.photo, class: "card-trip-user avatar-bordered" %>
          </div>
        </div>

      </div>
    <% end %>
  </div>


  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Made by WingIt
    </div>
  </div>
</div>

