<div class="form-container create-form-container">
  <div class="create-form-banner">
    <p>Who do you want to save the world?</p>
    <%= simple_form_for(@superhero) do |f| %>
      <%= f.input :name, placeholder: "Name", label: false %>
      <%= f.input :price, placeholder: "Price", label: false %>
      <%= f.input :description, placeholder: "Description", label: false %>
      <%= f.input :location, placeholder: "Location", label: false %>
      <%= f.input :photo, label: false, class: "btn-photo-upload" %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "List Hero", class: "btn-solid btn-block" %>
    <% end %>
  </div>
</div>



