<h1>New Superhero</h1>

<%= simple_form_for(@superhero) do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :availability %>
  <%= f.input :location %>
  <%= f.submit "List Hero", class: "btn btn-primary" %>
<% end %>

