<div class="container">
<h1>New Superhero</h1>

<%= simple_form_for(@superhero) do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :location %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "List Hero", class: "btn btn-primary" %>
<% end %>
</div>
