<div class="show-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= cl_image_path @superhero.photo, crop: :fill %>');">

    <div class="show-info">
      <h1><%= @superhero.name %></h1>
        <h5>$<%= @superhero.price %> per day</h5>
        <p class="mt-4"><%= @superhero.description %></p>
        <a href="#location-map" class="map-link"><p class="mb-5"><i class="fas fa-map-marker-alt mr-2", style="color: #e62328;"></i><%= @superhero.location %></p></a>
        <div>
          <%= link_to 'Back to Heroes', superheroes_path, class: "btn-ghost"  %>
          <%= link_to 'Book this hero!', new_superhero_booking_path(@superhero), class: "btn-solid ml-3" %>
        </div>
    </div>
</div>

<div class="container-map" id="location-map">
  <h1 style="padding-left: 140px;">Location:</h1>
  <p style="padding-left: 140px; font-size: 30px;"><%= @superhero.location %></p>
  <div class="inner-container">
    <div
      id="map"
      style="width: 80%;
      border-radius: 8px;
      height: 60vh"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>

