    <div class = "show-container" style = "background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpapersite.com/images/pages/pic_h/10860.jpg)" >
      <div class = "heroes-card">

      </div>
    </div>

    <div class = "hero-description">
      <div class = hero-info>
        <h1><%= @superhero.name %></h1>
        <ul>
          <li><strong>Price: </strong>$<%= @superhero.price %></li>
          <li><strong>Description: </strong><%= @superhero.description %></li>
          <li><strong>Location: </strong><%= @superhero.location %></li>
          </ul>
          <%= link_to 'Back to Heroes', superheroes_path  %>
          <%= link_to 'Book this hero!', new_superhero_booking_path(@superhero)  %>
        </div>
        <img src="https://cdn.dribbble.com/users/2538992/screenshots/6715962/03_dribbble.gif" alt="" width = "250">
      </div>
  <div class= "footer-copyright">
    Made by Wingit
  </div>
