
<div class="form-container">
  <div class="form-banner">
    <img src="<%= cl_image_path @superhero.photo, crop: :fill %>" alt="">

    <div class="form-info">
      <h1>Book new hero</h1>
      <%= simple_form_for [@superhero, @booking] do |f| %>
        <%= f.input :hero_start_date, as: :string, input_html: {type: :date, min: Date.today, class: "date-min" } %>
        <%= f.input :hero_end_date, as: :string, input_html: {type: :date, min: Date.today, class: "date-min-target" } %>
        <%= f.submit "Book", class: "btn btn-primary btn-lg btn-block"%>
      <% end %>
    </div>


  </div>
</div>

