
<div class="form-container">
  <div class="form-banner">
    <img src="<%= cl_image_path @superhero.photo, crop: :fill %>" alt="">

    <div class="form-info py-4">
      <h3>Book <%= @superhero.name %></h3>
      <%= simple_form_for [@superhero, @booking] do |f| %>
        <%= f.input :date_range, input_html: { class: "datepicker start-date" } %>
        <%#= f.input :hero_end_date, input_html: { class: "datepicker end-date" } %>
        <div>
          <strong><p class="my-2">Number of Days hired:</strong>
          <span class="days-display">0</span>
          <strong><p class="my-2">Hero price: (per Day)</strong>
          $<span class="price-display"><%= @superhero.price.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></span>
          <strong><p class="my-2">Total price:</strong>
          <span class="total-price-display">$0</span>
        </div>
        <%= f.submit "Book", class: "btn btn-solid btn-lg btn-block mt-5" %>
      <% end %>
    </div>


  </div>
</div>
