
<div class="container-dashboard">

<div class="dashboard">

    <div class="dashboard-header">
      <h1>Welcome <%= current_user.name %> </h1>
    </div>

    <div class="container-list">
      <div class="dash-booking mr-4">
        <h2 class="mb-3">Bookings</h2>
        <% current_user.bookings.each do |booking| %>
        <div class="card-product">
          <%= cl_image_tag booking.superhero.photo, height: 300, width: 400, crop: :fill %>
          <div class="card-product-infos">
            <h2><%= booking.superhero.name %></h2>
            <p id="text-dash"><%= booking.superhero.description %></p><br>
            <p class="your-booking">You have booked this hero for <strong><%= booking.number_of_nights %></strong> days from <strong><%= Time.parse(booking.hero_start_date).strftime('%e %b %Y') %></strong> to <strong><%= Time.parse(booking.hero_end_date).strftime('%e %b %Y') %></strong></p>
            <p><strong><p>Price of hire: $<%= number_with_precision(booking.total_price, :precision => 2, :delimiter => ',') %></strong></p>
          </div>
        </div>
        <% end %>
      </div>

      <div class="dash-booking ml-4">
        <h2 class="mb-3">Enlisted Superheroes</h2>
        <% current_user.superheroes.each do |enlisted_superhero| %>
          <div class="card-product ">
              <%= cl_image_tag enlisted_superhero.photo, height: 300, width: 400, crop: :fill %>
            <div class="card-product-infos">
              <h2><%=  enlisted_superhero.name%></h2>
              <p id="text-dash"><%=  enlisted_superhero.description%></p><br>
              <p><strong>$<%=  enlisted_superhero.price%></strong> / per day</p>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>


</div>
