<!-- <div class="banner">
  <div class="banner-text-box">
    <h1>Find or be a hero,<br>anywhere</br></h1>
  </div>
</div> -->


<!-- ===============card-product================== -->

<div class="container mt-5">
  <div class="card-action">
    <div class="card-action-infos">
      <h2>Hire out a hero</h2>
      <p>Help save the world</p>
      <a>Get started</a>
    </div>
  </div>
</div>



<!-- kitchensink_buttons -->
<div class= "buttons">
  <a class= "btn btn-red" href="#">Register a hero</a>
  <a class= "btn btn-white" href="#">Hire out a hero </a>
  <a class= "btn btn-gradient" href="#">Learn More</a>

</div>

<!-- adding a footer -->
 <div class = "footer-container">
  <div class = "footer-icon">
    @Heroes for hire.inc
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-snapchat"></i></a>
  </div>
</div>


 <!-- navbar -->
  <div class="topnav">
    <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Type a city or location" aria-label="Search">
    </form>
    <div class = navbar-links>
      <a class= "btn btn-white" href="#">Hire out a hero </a>
      <a href="#home" class="active">Register</a>
      <a href="#contact">Login</a>
   </div>
</div>


<!-- indexpage -->
<%=render 'navbar'  %>
<%= render 'banner' %>

<div class="index-container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>All Superheroes</h1>
  <div class="card" style="background-image: url(https://images.unsplash.com/photo-1531259683007-016a7b628fc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)">
          <ul class="list-group">
          <% @superheroes.each do |superhero| %>
          <li class="list-group-item">
            <%= superhero.name, superhero %>
          </li>
        <% end %>
      </ul>
    </div>
      <div>
        <%= link_to 'Back to Home', root_path  %>
    </div>
    </div>
  </div>
</div>

<!-- form -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <%= simple_form_for(@superhero) do |f| %>
        <%= f.input :name %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.submit "List Hero", class: "btn btn-primary" %>
        <div id="messages">
        <ul class="list unstyle" id="messages-list">
         <li>You won't be charged for anything </li>
        </ul>
        <a class= "btn btn-gradient" href="#">Learn More</a>
      </div>
    </div>
  </div>
</div>




